.gmail-email-view {
  font-family: Roboto, sans-serif;
  padding: 16px;
  background: #fff;
  margin: auto;
  color: #202124;
}

/* Header Time */
.gmail-header {
  display: flex;
  justify-content: flex-start;
  font-size: 14px;
  color: #999;
  margin-bottom: 12px;
}

/* Toolbar */
.gmail-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: white;
  z-index: 999;
  padding: 16px;

}

.toolbar-actions {
  display: flex;
  gap: 16px;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 4px;
}

/* Subject */
.gmail-subject h2 {
  font-size: 18px;
  margin: 16px 0 4px;
  font-weight: 500;
  line-height: 28px;
}

.gmail-subject p {
  font-size: 14px;
  color: #5f6368;
  margin: 0;
}

.gmail-label {
  font-size: 12px;
  background: #e8eaed;
  color: #5f6368;
  padding: 2px 6px;
  border-radius: 12px;
  margin-left: 6px;
}

/* Sender Info */
.gmail-sender {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.sender-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.sender-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.sender-name {
  font-size: 14px;
  font-weight: 500;
}

.meta-text {
  font-size: 12px;
  color: #5f6368;
}

.meta-date {
  font-size: 12px;
  color: #5f6368;
}



.email-container {
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  background-color: #000;
  padding: 16px 0;
  max-width: 500px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin: auto;
}

.email-powered-by {
  display: flex;
  align-items: center;
  background: var(--grey-50);
  padding: 16px;
  justify-content: flex-start;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  gap: 6px;
}

.email-card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 16px;
  margin: 0 16px;
}

.email-header {
  display: flex;
  align-items: left;
  gap: 12px;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 16px;
}

.email-header img {
  height: 32px;
}

.email-header-text {
  text-align: left;
  color: var(--white-text);
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom: 1px solid var(--grey-400);
  padding-bottom: 24px;
}

.email-card h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.email-card p {
  color: #ccc;
  font-size: 14px;
}

.email-main-img {
  width: 100%;
  border-radius: 100px;
  margin: 24px 0;
}

.email-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.email-info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  color: #eee;
}

.email-info-list li {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.email-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email-actions .primary {
  display: inline-block;
  margin-top: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--white-text);
  border: none;
  border-radius: 50px;
  padding: 12px 16px;

}


.email-actions .disabled {
  display: inline-block;
  margin-top: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background-color: var(--grey-400);
  color: var(--white-text);
  border: none;
  border-radius: 50px;
  padding: 12px 16px;

}


.email-actions .outline {
  display: inline-block;
  margin-top: 8px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: white solid 1px;
  color: var(--white-text);
  border-radius: 50px;
  padding: 12px 16px;
  background-color: #00000000;

}

.help-link {
  font-size: 12px;
  color: #ccc;
  margin-top: 16px;
  text-align: center;
}

.help-link a {
  color: #42d0b5;
  text-decoration: none;
}

.email-footer-promo {

  text-align: center;
  padding: 24px 16px;
  border-radius: 12px;
  margin: 20px 0;
  color: #fff;
}

.email-footer-promo h4 {
  font-size: 18px;
  margin-bottom: 12px;
}

.email-footer-promo .primary {
  background-color: #00754a;
  padding: 10px 20px;
  border: none;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
}

.email-footer {
  text-align: center;
  font-size: 12px;
  color: var(--grey-500);
  margin: 24px 0;
}

.poweredby-img {
  width: 60%;
  margin-top: 24px;
}

.policy-links {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 10px 0;
}

.policy-links a {
  color: var(--grey-100);
  text-decoration: none;
  font-weight: 400;
  text-decoration: underline;
}

.email-footer address {
  margin: 12px 0;
  color: var(--grey-100);
  font-style: normal;
  font-weight: 400;
}

.email-info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--grey-400);
}

.email-info-item-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.need-assistance-container {
  display: flex;
  flex-direction: column;
  margin: 16px;
  gap: 4px;
}

.email-footer-image {
  width: 100%;
}

.pill {
  background-color: #3C3A39;
  color: var(--grey-200);
  padding: 8px;
  text-align: center;
  width: 100px;
  border-radius: 50px;
  margin-bottom: 16px;
}

.fade {
  opacity: 0.5;
}