/* Fonts */

/* Mark for MC */

/* Light*/
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Light"),
    url("./assets/fonts/normal/MarkForMC-Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Regular"),
    url("./assets/fonts/normal/MarkForMC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Regular"),
    url("./assets/fonts/normal/MarkForMC.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Bold"),
    url("./assets/fonts/normal/MarkForMC-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "MarkforMC";
  src: local("MarkforMc-Medium"),
    url("./assets/fonts/normal/MarkForMC-Med.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Mark for MC Narrow */

/* Regular */
@font-face {
  font-family: "MarkforMCNarrow";
  src: local("MarkforMcNarrow-Regular"),
    url("./assets/fonts/narrow/MarkForMCNrw.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: "MarkforMCNarrow";
  src: local("MarkforMcNarrow-Regular"),
    url("./assets/fonts/narrow/MarkForMCNrw-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Typography */

caption {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 10px;
}

label {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 12px;
}

body { 
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.body-medium {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 14px;
}

.body-bold {
  font-family: "MarkforMC";
  font-weight: 600;
  font-size: 14px;
}

.subheading {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-text);
}

.subheading-medium {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 16px;
  color: var(--primary-text);
}
.subheading-bold {
  font-family: "MarkforMC";
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-text);
}

button {
  font-family: "MarkforMC";
  font-weight: 600;
}

.button-large {
  font-size: 16px;
  font-family: "MarkforMC";
  font-weight: 600;
}

.button-regular {
  font-size: 14px;
  font-family: "MarkforMC";
  font-weight: 600;
}

.button-small {
  font-size: 12px;
  font-family: "MarkforMC";
  font-weight: 600;
}

input {
  font-family: "MarkforMC";
  border-radius: 0; /* Reset border-radius */
  -webkit-appearance: none; /* Reset Safari's default styles */
  appearance: none;
}

.heading {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 20px;
  color: var(--primary-text);
  line-height: 30px;
}

.heading-bold {
  font-family: "MarkforMC";
  font-weight: 600;
  font-size: 20px;
  color: var(--primary-text);
  line-height: 30px;
}

.heading-medium {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-text);
  line-height: 30px;
}

.title {
  font-family: "MarkforMC";
  font-weight: 400;
  font-size: 24px;
  color: var(--primary-text);
  line-height: 36px;
}

.title-medium {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 24px;
  color: var(--primary-text);
  line-height: 36px;
}

.headline {
  font-family: "MarkforMC";
  font-weight: 500;
  font-size: 28px;
  color: var(--primary-text);
}

.headline-light {
  font-family: "MarkforMC";
  font-weight: 300;
  font-size: 28px;
  color: var(--primary-text);
}


.App {
display: flex;
flex-direction: column;
}


:root {

 /* Primary */
 --primary-color: #006B4B;

 /* Surface */
 --primary-surface: #ffffff;
 --secondary-surface: #f8f8f8;
 --tertiary-surface: #f1f1f1;
 --highlight-surface: #006B4B;
 --black-surface: #212121;

 /* Dividers */
 --divider-on-primary: #e1e1e1;
 --divider-on-secondary: #c8c8c8;

 /* Disabled */
 --disabled-state: #acacac;

 /* Icons */
 --icons-grey: #919191;
 --icons-primary: #006B4B;
 --icons-white: #ffffff;
 --icons-black: #141414;

 /* Text */
 --primary-text: #212121;
 --secondary-text: #6e6e6e;
 --white-text: #ffffff;
 --highlight-text: #006B4B;
 --button-text: #ffffff;

 /* Neutral colors */
 --black: #000000;
 --grey-900: #212121;
 --grey-500: #6e6e6e;
 --grey-400: #919191;
 --grey-300: #acacac;
 --grey-200: #c8c8c8;
 --grey-100: #e1e1e1;
 --grey-50: #f1f1f1;
 --grey-25: #f8f8f8;
 --white: #ffffff;

 /* Message */
 --success-text: #097007;
 --warning-text: #332805;
 --error-text: #b00606;

 --success-container: #dff7df;
 --warning-container: #fff4d1;
 --error-container: #fadede;

 --success-icon: #097007;
 --warning-icon: #ffc61e;
 --error-icon: #ee0000;
}

 /* Landing Page */
.mweb-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  height: 100vh;
  overflow: auto;
  gap: 16px;
  background-color: #141414;
  color: white;
  font-size: 16px;
  text-align: center;
}

.mweb-info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 21px;
  margin: 16px;
}

.mweb-info-container2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  line-height: 21px;
}



.share-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.share-icon-text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 8px;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px); 
  }
}

.dive {
  animation: moveUpDown 2s ease-in-out infinite; 
}

.landingpage-main-container {
  background-color: #141414;
  height: 100vh;
}

.mc-circle-container {
  position: absolute;
  top: 4vh;
  right: 0;
  z-index: 0;
}

.landing-page-info-container {
  display: flex;
  padding: 6vh 16vw;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
}

.info-text-container {
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.landing-mc-logo {
  height: 6vh;
}

.digital-first-title {
  font-size: 6vh;
  color: white;
  font-weight: 500;
}

.df-body {
  font-size: 2vh;
  color: white
}

.digital-first-body-text-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.qr-code-image {
  height: 22vh;
  border-radius: 10%;
}

.info-ui-image-container {
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;

}

.df-caption {
  font-size: 1.5vh;
  color: white;
  font-style: italic;
}

.app-ui {
  width: 18vw;
}

.icon16 {
  height: 16px;
}

.icon24 {
  height: 24px;
}

.page-content {
  padding-top: 56px;
}